.avatar-sm-text {
    width: 32px;
    height: 32px;
    background-color: #f0f2f5;
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.85rem;
    border: 1px solid #dee2e6;
}

.extra-small {
    font-size: 0.75rem;
}

.bg-soft-info {
    background-color: #e1f5fe;
}

.bg-soft-secondary {
    background-color: #f8f9fa;
    color: #6c757d !important;
}
